.container__nav {
}
.container {
}
.main__nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding-top: 16px;
    margin-bottom: 50px;
    & img{
        margin-right: 8px;
    }
}
.main__nav-link {
    display: block;
    &:nth-child(1){
        color: #594E4B;
        border-bottom: 1px solid #594E4B;
        margin-right: 8px;
    }
    &:nth-child(3){
        color: #A09999;
    }
}
@media (max-width: 992px) {
    .main__nav{
        padding-top: 100px;
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    .main__nav{
        padding-top: 60px;
        margin-bottom: 25px;
    }
}
@media (max-width: 576px) {
    .container{
        max-width: none;
        width: 100%;
        padding: 0 8px;
    }
}