.page__nav{
  margin-top: 16px;
  margin-bottom: 48px;
  display: flex;
  gap: 8px;
}
.page__nav-item{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #594E4B;
  border-bottom: 1px solid #594E4B;
}
.page__nav-item-active{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A09999;
}
.main__title{
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.main__sub-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #140605;
  margin-bottom: 16px;
}
.map__wrapper{
  margin-bottom: 88px;
}
@media (max-width: 768px) {
  .page__nav{
    margin-top: 0;
    padding-top: 60px;
    margin-bottom: 30px;
  }
  .main__title{
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .main__sub-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #140605;
    margin-bottom: 24px;
  }
}