<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'employee_articles/css/null_for_templates.css' %}">
    <link rel="stylesheet" href="{% static 'employee_articles//css/style.css' %}">
    <title>Наши сотрудники</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header__additional">
                <div class="additional">
                    <div class="container">
                        <div class="additional__body">
                            <div class="additional__contacts">
                                <a href="#" class="contacts__telefon">
                                    {{ contact.number_phone_main }}
                                </a>
                                <a href="#" class="contacts__email">
                                    {{ contact.email_main }}
                                </a>
                            </div>
                            <div class="additional__social">
                                <a href="{{ url.social_Instagram }}" class="social__link">
                                    <img src="{% static 'employee_articles/img/icons/instagram.svg' %}" alt="Instagram">
                                </a>
                                <a href="{{ url.social_Facebook }}" class="social__link">
                                    <img src="{% static 'employee_articles/img/icons/facebook.svg' %}" alt="Facebook">
                                </a>
                                <a href="{{ url.social_VK }}" class="social__link">
                                    <img src="{% static 'employee_articles/img/icons/vk.svg' %}" alt="VK">
                                </a>
                                <a href="{{ url.social_Youtube }}" class="social__link">
                                    <img src="{% static 'employee_articles/img/icons/youtube.svg' %}" alt="YouTube">
                                </a>
                                <a href="{{ url.social_TG }}" class="social__link">
                                    <img src="{% static 'employee_articles/img/icons/telega.svg' %}" alt="">
                                </a>
                            </div>
                            <div class="additional__map">
                                <a href="{% url 'about_stadium' %}" class="map__link">
                                    О стадионе
                                </a>
                                <a href="{% url 'how_to_get' %}" class="map__link">
                                    Как добраться
                                </a>
                                <a href="#" class="map__link">
                                    Контакты
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header">
                <div class="container">
                    <div class="header__body">
                        <div class="header__logo">
                            <a href="{% url 'index' %}" class="logo__link">
                                <img src="{% static 'employee_articles/img/dinamo_logo1_RGB%201.png' %}" alt="Dinamo">
                            </a>
                        </div>
                        <div class="header__burger">
                            <span></span>
                        </div>
                        <div class="menu__container">
                            <div class="header__map">
                                <a href="{% url 'about_stadium' %}" class="map__link">
                                    О стадионе
                                </a>
                                <a href="{% url 'how_to_get' %}" class="map__link">
                                    Как добраться
                                </a>
                                <a href="#" class="map__link">
                                    Контакты
                                </a>
                            </div>
                            <nav class="header__menu">
                                <ul class="header__list">
                                    <li>
                                        <a href="{% url 'index' %}" class="header__link selected">
                                            Главная
                                        </a>
                                    </li>
                                    <li class="list__item services">
                                        <div class="item__wrapper">
                                            <a href="{% url 'show_services_all' %}" class="header__link">
                                                Услуги
                                            </a>
                                            <span class="link__line"></span>
                                            <span class="link__arrow" id="services"></span>
                                        </div>
                                        <div class="menu-extra__container">
                                            <div class="menu-extra__block">
                                            </div>
                                        </div>
                                        <div class="menu-mobile__container">
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="header__link">
                                            Новости
                                        </a>
                                    </li>
                                    <li class="list__item media">
                                        <div class="item__wrapper">
                                            <a href="#" class="header__link">
                                                Медиа
                                            </a>
                                            <span class="link__line"></span>
                                            <span class="link__arrow" id="media"></span>
                                        </div>
                                        <div class="menu-extra__media">
                                            <a href="#" class="menu-extra__link">
                                                Фотоальбомы
                                            </a>
                                            <a href="#" class="menu-extra__link">
                                                Видеоальбомы
                                            </a>
                                        </div>
                                        <div class="menu-mobile__block">
                                            <a href="#" class="menu-extra__link">
                                                Фотоальбомы
                                            </a>
                                            <a href="#" class="menu-extra__link">
                                                Видеоальбомы
                                            </a>
                                        </div>
                                    </li>
                                    <li class="list__item-enter">
                                        <a href="#" class="header__link">
                                            События
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header__contacts">
                                <a href="#" class="contacts__telefon">
                                    {{ contact.number_phone_main }}
                                </a>
                                <a href="#" class="contacts__email">
                                    {{ contact.email_main }}
                                </a>
                            </div>
                            <div class="header__social">
                                <a href="{{ url.social_Instagram }}" class="social__link">
                                    <img src="{% static 'employee_articles/img/icons/icon_inst_mobile.svg' %}" alt="Instagram">
                                </a>
                                <a href="{{ url.social_Facebook }}" class="social__link">
                                    <img src="{% static 'employee_articles/img/icons/icon_face_mobile.svg' %}" alt="Facebook">
                                </a>
                                <a href="{{ url.social_VK }}" class="social__link">
                                    <img src="{% static 'employee_articles/img/icons/icon_vk_mobile.svg' %}" alt="VK">
                                </a>
                                <a href="{{ url.social_Youtube }}" class="social__link">
                                    <img src="{% static 'employee_articles/img/icons/icon_YT_mobile.svg' %}" alt="YouTube">
                                </a>
                                <a href="{{ url.social_TG }}" class="social__link">
                                    <img src="{% static 'employee_articles/img/icons/Vectortelega-mobile.svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="main__wrapper">
                <div class="container">
                    <div class="main__employers-nav">
                        <a href="{% url 'index' %}" class="main__employers-nav-item">Главная</a>
                        <img src="{% static 'employee_articles/img/icons/history__nav-arrow.svg' %}" alt="">
                        <a href="{% url 'about_stadium' %}" class="main__employers-nav-item">О стадионе</a>
                        <img src="{% static 'employee_articles/img/icons/history__nav-arrow.svg' %}" alt="">
                        <a href="{% url 'employee_articles' %}" class="main__employers-nav-item-active">Наши сотрудники</a>
                    </div>
                    <div class="main__title">
                        Наши сотрудники
                    </div>
                    <form action="/" method="POST" id="formSearch" class="main__employers-search">
                        {% csrf_token %}
                        <input type="text" name="employerName" value="" id="searchInput" placeholder="Поиск по имени сотрудника . . .">
                        <a href="#" class="main__search-button">
                            <img src="{% static 'employee_articles/img/icons/lupa.svg' %}" alt="">
                            <p>Найти</p>
                        </a>
                    </form>
                    <div class="main__employers-card-pagination-wrapper">
                        <div class="main__employers-card-wrapper">

                        </div>
                    </div>
                    <div class="main__employers-pages-wrapper">
                        <div class="pages__wrap">
                            <a href="#" class="main__employers-next-page">
                                Следующая страница
                                <img src="{% static 'employee_articles/img/icons/nextPageArrow.svg' %}" alt="">
                            </a>
                            <div class="page__number-wrapper">
                                <p>
                                    Страница
                                </p>
                                <input type="text" name="pageNumber" value="" id="numberPage">
                                <p class="total__pages">
                                    из
                                </p>
                                <div class="page__arrow-wrapper">
                                    <div class="page__arrow-left">
                                        <img src="{% static 'employee_articles/img/icons/arrow-left.svg' %}" alt="">
                                    </div>
                                    <div class="page__arrow-right">
                                        <img src="{% static 'employee_articles/img/icons/arrow-right.svg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container__news">
                        <div class="container">
                            <div class="news__flex">
                                <div class="news__arrow news__left"></div>
                                <div class="news__arrow news__right"></div>
                                <div class="news__container">
                                    <div class="news">
                                    </div>
                                </div>
                                <a href="#" class="news__link">
                                    Смотреть все новости
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="footer">
                    <nav class="footer__nav">
                        <a href="#" class="footer__link footer__text">
                            Адрес: г. Минск,<br>
                            ул. Кирова, д. 8, корп. 6
                        </a>
                    </nav>
                    <div class="footer__social">
                        <p class="footer__social-title footer__text">
                            Следите за нами в соц.сетях
                        </p>
                        <div class="footer__social-block">
                            <a href="{{ url.social_Instagram }}" class="social-block__link">
                                <img src="{% static 'employee_articles/img/footer/instagramm.svg' %}" alt="">
                            </a>
                            <a href="{{ url.social_Facebook }}" class="social-block__link">
                                <img src="{% static 'employee_articles/img/footer/facebook.svg' %}" alt="">
                            </a>
                            <a href="{{ url.social_VK }}" class="social-block__link">
                                <img src="{% static 'employee_articles/img/footer/vk.svg' %}" alt="">
                            </a>
                            <a href="{{ url.social_Youtube }}" class="social-block__link">
                                <img src="{% static 'employee_articles/img/footer/youtube.svg' %}" alt="">
                            </a>
                            <a href="{{ url.social_TG }}" class="social-block__link">
                                <img src="{% static 'employee_articles/img/icons/logos_telegram(1).svg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <form action="#" method="post" class="footer__form">
                        {% csrf_token %}
                        <p class="footer__form-title footer__text">
                            Подписывайтесь на email-рассылку
                        </p>
                        <div class="footer__form-block">
                            <input type="email" name = "email" class="form-block__input" placeholder="sportsmen228@gmail.com" >
                            <button class="form-block__button footer__text">
                                Подписаться
                            </button>
                        </div>
                    </form>
                </div>
                <p class="footer__subtitle">
                    2022 © Все права защищены
                </p>
            </div>
        </footer>
    </div>
    <script src="{% static 'employee_articles/js/header.js' %}"></script>
    <script src="{% static 'employee_articles/js/employers.js' %}"></script>
    <script src="{% static 'employee_articles/js/news_slider.js' %}"></script>
    <script src="{% static 'employee_articles/js/validate.js' %}"></script>
</body>
</html>