<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../pages%20Dinamo/managment%20деплой/css/managment-style.css">
    <link rel="stylesheet" href="../../pages%20Dinamo/managment%20деплой/css/null_for_templates.css">
    <title>Руководство</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header__additional">
                <div class="additional">
                    <div class="container">
                        <div class="additional__body">
                            <div class="additional__contacts">
                                <a href="#" class="contacts__telefon">
                                    +375 17 243 09 11
                                </a>
                                <a href="#" class="contacts__email">
                                    stadion_dinamo@mail.ru
                                </a>
                            </div>
                            <div class="additional__social">
                                <a href="#" class="social__link">
                                    <img src="../../pages%20Dinamo/managment%20деплой/img/icons/instagram.svg" alt="Instagram">
                                </a>
                                <a href="#" class="social__link">
                                    <img src="../../pages%20Dinamo/managment%20деплой/img/icons/facebook.svg" alt="Facebook">
                                </a>
                                <a href="" class="social__link">
                                    <img src="../../pages%20Dinamo/managment%20деплой/img/icons/vk.svg" alt="VK">
                                </a>
                                <a href="" class="social__link">
                                    <img src="../../pages%20Dinamo/managment%20деплой/img/icons/youtube.svg" alt="YouTube">
                                </a>
                                <a href="#" class="social__link">
                                    <img src="../../pages%20Dinamo/managment%20деплой/img/icons/telega.svg" alt="">
                                </a>
                            </div>
                            <div class="additional__map">
                                <a href="#" class="map__link">
                                    О стадионе
                                </a>
                                <a href="#" class="map__link">
                                    Как добраться
                                </a>
                                <a href="#" class="map__link">
                                    Контакты
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header">
                <div class="container">
                    <div class="header__body">
                        <div class="header__logo">
                            <a href="" class="logo__link">
                                <img src="../../pages%20Dinamo/managment%20деплой/img/dinamo_logo1_RGB%201.png" alt="Dinamo">
                            </a>
                        </div>
                        <div class="header__burger">
                            <span></span>
                        </div>
                        <div class="menu__container">
                            <div class="header__map">
                                <a href="#" class="map__link">
                                    О стадионе
                                </a>
                                <a href="#" class="map__link">
                                    Как добраться
                                </a>
                                <a href="#" class="map__link">
                                    Контакты
                                </a>
                            </div>
                            <nav class="header__menu">
                                <ul class="header__list">
                                    <li>
                                        <a href="#" class="header__link selected">
                                            Главная
                                        </a>
                                    </li>
                                    <li class="list__item services">
                                        <div class="item__wrapper">
                                            <a href="#" class="header__link">
                                                Услуги
                                            </a>
                                            <span class="link__line"></span>
                                            <span class="link__arrow" id="services"></span>
                                        </div>
                                        <div class="menu-extra__container">
                                            <div class="menu-extra__block">
                                            </div>
                                        </div>
                                        <div class="menu-mobile__container">
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="header__link">
                                            Новости
                                        </a>
                                    </li>
                                    <li class="list__item media">
                                        <div class="item__wrapper">
                                            <a href="#" class="header__link">
                                                Медиа
                                            </a>
                                            <span class="link__line"></span>
                                            <span class="link__arrow" id="media"></span>
                                        </div>
                                        <div class="menu-extra__media">
                                            <a href="#" class="menu-extra__link">
                                                Фотоальбомы
                                            </a>
                                            <a href="#" class="menu-extra__link">
                                                Видеоальбомы
                                            </a>
                                        </div>
                                        <div class="menu-mobile__block">
                                            <a href="#" class="menu-extra__link">
                                                Фотоальбомы
                                            </a>
                                            <a href="#" class="menu-extra__link">
                                                Видеоальбомы
                                            </a>
                                        </div>
                                    </li>
                                    <li class="list__item-enter">
                                        <a href="#" class="header__link">
                                            События
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header__contacts">
                                <a href="#" class="contacts__telefon">
                                    +375 17 243 09 11
                                </a>
                                <a href="#" class="contacts__email">
                                    stadion_dinamo@mail.ru
                                </a>
                            </div>
                            <div class="header__social">
                                <a href="#" class="social__link">
                                    <img src="../../pages%20Dinamo/managment%20деплой/img/icons/icon_inst_mobile.svg" alt="Instagram">
                                </a>
                                <a href="#" class="social__link">
                                    <img src="../../pages%20Dinamo/managment%20деплой/img/icons/icon_face_mobile.svg" alt="Facebook">
                                </a>
                                <a href="#" class="social__link">
                                    <img src="../../pages%20Dinamo/managment%20деплой/img/icons/icon_vk_mobile.svg" alt="VK">
                                </a>
                                <a href="#" class="social__link">
                                    <img src="../../pages%20Dinamo/managment%20деплой/img/icons/icon_YT_mobile.svg" alt="YouTube">
                                </a>
                                <a href="#" class="social__link">
                                    <img src="../../pages%20Dinamo/managment%20деплой/img/icons/Vectortelega-mobile.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="management__nav">
                    <a href="#" class="management__item">Главная</a>
                    <img src="../../pages%20Dinamo/managment%20деплой/img/icons/Vectorhistory__nav-arrow.svg" alt="">
                    <a href="#" class="management__item">О стадионе</a>
                    <img src="../../pages%20Dinamo/managment%20деплой/img/icons/Vectorhistory__nav-arrow.svg" alt="">
                    <a href="#" class="management__item-page">Руководство</a>
                </div>
                <div class="main__title">
                    руководство
                </div>
                <div class="management__card-wrapper">
                    <div class="management__card">
                        <div class="management__card-about">
                            <div class="management__card-title">
                                Генеральный директор Государственного учреждения «Национальный олимпийский стадион «Динамо»
                            </div>
                            <div class="management__card-name">
                                Бут-Гусаим Александр Владимирович
                            </div>
                            <div class="management__card-name-about">
                                <div class="management__card-name-about-text">
                                    Родился 30 января 1985 года в городе Бресте. Образование: Брестский государственный университет им. А.С. Пушкина (тренер-преподаватель по легкой атлетике). Российский международный олимпийский университет (менеджер в индустрии спорта).
                                </div>
                                <div class="management__card-name-about-text">
                                    Председатель дисциплинарной и антидопинговой комиссии Общественного объединения «Белорусская федерация легкой атлетики». Член Дисциплинарной антидопинговой комиссии при Национальном антидопинговом агентстве.
                                </div>
                                <div class="management__card-name-about-text">
                                    Работал тренером, инструктором-методистом в ОЦСДЮШОР профсоюзов; тренером в ОСДЮШОР по легкой атлетике. Спортивным директором, генеральным секретарем в Общественном объединении «Белорусская федерация легкой атлетики». Менеджером фонда «Дирекция II Европейских игр 2019 года»; генеральным координатором Матчевой встречи Европа – США; генеральным координатором командного чемпионата мира по спортивной ходьбе.
                                </div>
                                <div class="management__card-name-about-text">
                                    28 февраля 2020 года назначен на должность генерального директора Государственного учреждения «Национальный олимпийский стадион «Динамо».
                                </div>
                            </div>
                            <div class="management__card-contacts">
                                <div class="management__card-phone">
                                    Телефон и факс: <span>+375 (17) 243 09 11</span>
                                </div>
                                <div class="management__card-email">
                                    E-mail:  <span>stadion_dinamo@mail.ru</span>
                                </div>
                                <div class="management__card-appeals">
                                    Электронные обращения граждан принимаются на е-mail: <span>info@stadium-dinamo.by</span>
                                </div>
                                <div class="management__card-reception">
                                    Прием по личным вопросам – каждый вторник месяца с 15:00 до 18:00
                                </div>
                            </div>
                        </div>
                        <div class="management__card-image">
                            <img src="../../pages%20Dinamo/managment%20деплой/img/Директор.png" alt="">
                        </div>
                    </div>
                    <div class="management__card">
                        <div class="management__card-about">
                            <div class="management__card-title">
                                Генеральный директор Государственного учреждения «Национальный олимпийский стадион «Динамо»
                            </div>
                            <div class="management__card-name">
                                Бут-Гусаим Александр Владимирович
                            </div>
                            <div class="management__card-name-about">
                                <div class="management__card-name-about-text">
                                    Родился 30 января 1985 года в городе Бресте. Образование: Брестский государственный университет им. А.С. Пушкина (тренер-преподаватель по легкой атлетике). Российский международный олимпийский университет (менеджер в индустрии спорта).
                                </div>
                                <div class="management__card-name-about-text">
                                    Председатель дисциплинарной и антидопинговой комиссии Общественного объединения «Белорусская федерация легкой атлетики». Член Дисциплинарной антидопинговой комиссии при Национальном антидопинговом агентстве.
                                </div>
                                <div class="management__card-name-about-text">
                                    Работал тренером, инструктором-методистом в ОЦСДЮШОР профсоюзов; тренером в ОСДЮШОР по легкой атлетике. Спортивным директором, генеральным секретарем в Общественном объединении «Белорусская федерация легкой атлетики». Менеджером фонда «Дирекция II Европейских игр 2019 года»; генеральным координатором Матчевой встречи Европа – США; генеральным координатором командного чемпионата мира по спортивной ходьбе.
                                </div>
                                <div class="management__card-name-about-text">
                                    28 февраля 2020 года назначен на должность генерального директора Государственного учреждения «Национальный олимпийский стадион «Динамо».
                                </div>
                            </div>
                            <div class="management__card-contacts">
                                <div class="management__card-phone">
                                    Телефон и факс: <span>+375 (17) 243 09 11</span>
                                </div>
                                <div class="management__card-email">
                                    E-mail:  <span>stadion_dinamo@mail.ru</span>
                                </div>
                                <div class="management__card-appeals">
                                    Электронные обращения граждан принимаются на е-mail: <span>info@stadium-dinamo.by</span>
                                </div>
                                <div class="management__card-reception">
                                    Прием по личным вопросам – каждый вторник месяца с 15:00 до 18:00
                                </div>
                            </div>
                        </div>
                        <div class="management__card-image">
                            <img src="../../pages%20Dinamo/managment%20деплой/img/Директор.png" alt="">
                        </div>
                    </div>
                    <div class="management__card">
                        <div class="management__card-about">
                            <div class="management__card-title">
                                Генеральный директор Государственного учреждения «Национальный олимпийский стадион «Динамо»
                            </div>
                            <div class="management__card-name">
                                Бут-Гусаим Александр Владимирович
                            </div>
                            <div class="management__card-name-about">
                                <div class="management__card-name-about-text">
                                    Родился 30 января 1985 года в городе Бресте. Образование: Брестский государственный университет им. А.С. Пушкина (тренер-преподаватель по легкой атлетике). Российский международный олимпийский университет (менеджер в индустрии спорта).
                                </div>
                                <div class="management__card-name-about-text">
                                    Председатель дисциплинарной и антидопинговой комиссии Общественного объединения «Белорусская федерация легкой атлетики». Член Дисциплинарной антидопинговой комиссии при Национальном антидопинговом агентстве.
                                </div>
                                <div class="management__card-name-about-text">
                                    Работал тренером, инструктором-методистом в ОЦСДЮШОР профсоюзов; тренером в ОСДЮШОР по легкой атлетике. Спортивным директором, генеральным секретарем в Общественном объединении «Белорусская федерация легкой атлетики». Менеджером фонда «Дирекция II Европейских игр 2019 года»; генеральным координатором Матчевой встречи Европа – США; генеральным координатором командного чемпионата мира по спортивной ходьбе.
                                </div>
                                <div class="management__card-name-about-text">
                                    28 февраля 2020 года назначен на должность генерального директора Государственного учреждения «Национальный олимпийский стадион «Динамо».
                                </div>
                            </div>
                            <div class="management__card-contacts">
                                <div class="management__card-phone">
                                    Телефон и факс: <span>+375 (17) 243 09 11</span>
                                </div>
                                <div class="management__card-email">
                                    E-mail:  <span>stadion_dinamo@mail.ru</span>
                                </div>
                                <div class="management__card-appeals">
                                    Электронные обращения граждан принимаются на е-mail: <span>info@stadium-dinamo.by</span>
                                </div>
                                <div class="management__card-reception">
                                    Прием по личным вопросам – каждый вторник месяца с 15:00 до 18:00
                                </div>
                            </div>
                        </div>
                        <div class="management__card-image">
                            <img src="../../pages%20Dinamo/managment%20деплой/img/Директор.png" alt="">
                        </div>
                    </div>
                    <div class="management__card">
                        <div class="management__card-about">
                            <div class="management__card-title">
                                Генеральный директор Государственного учреждения «Национальный олимпийский стадион «Динамо»
                            </div>
                            <div class="management__card-name">
                                Бут-Гусаим Александр Владимирович
                            </div>
                            <div class="management__card-name-about">
                                <div class="management__card-name-about-text">
                                    Родился 30 января 1985 года в городе Бресте. Образование: Брестский государственный университет им. А.С. Пушкина (тренер-преподаватель по легкой атлетике). Российский международный олимпийский университет (менеджер в индустрии спорта).
                                </div>
                                <div class="management__card-name-about-text">
                                    Председатель дисциплинарной и антидопинговой комиссии Общественного объединения «Белорусская федерация легкой атлетики». Член Дисциплинарной антидопинговой комиссии при Национальном антидопинговом агентстве.
                                </div>
                                <div class="management__card-name-about-text">
                                    Работал тренером, инструктором-методистом в ОЦСДЮШОР профсоюзов; тренером в ОСДЮШОР по легкой атлетике. Спортивным директором, генеральным секретарем в Общественном объединении «Белорусская федерация легкой атлетики». Менеджером фонда «Дирекция II Европейских игр 2019 года»; генеральным координатором Матчевой встречи Европа – США; генеральным координатором командного чемпионата мира по спортивной ходьбе.
                                </div>
                                <div class="management__card-name-about-text">
                                    28 февраля 2020 года назначен на должность генерального директора Государственного учреждения «Национальный олимпийский стадион «Динамо».
                                </div>
                            </div>
                            <div class="management__card-contacts">
                                <div class="management__card-phone">
                                    Телефон и факс: <span>+375 (17) 243 09 11</span>
                                </div>
                                <div class="management__card-email">
                                    E-mail:  <span>stadion_dinamo@mail.ru</span>
                                </div>
                                <div class="management__card-appeals">
                                    Электронные обращения граждан принимаются на е-mail: <span>info@stadium-dinamo.by</span>
                                </div>
                                <div class="management__card-reception">
                                    Прием по личным вопросам – каждый вторник месяца с 15:00 до 18:00
                                </div>
                            </div>
                        </div>
                        <div class="management__card-image">
                            <img src="../../pages%20Dinamo/managment%20деплой/img/Директор.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="footer">
                    <nav class="footer__nav">
                        <a href="#" class="footer__link footer__text">
                            Адрес: г. Минск,<br>
                            ул. Кирова, д. 8, корп. 6
                        </a>
                    </nav>
                    <div class="footer__social">
                        <p class="footer__social-title footer__text">
                            Следите за нами в соц.сетях
                        </p>
                        <div class="footer__social-block">
                            <a href="#" class="social-block__link">
                                <img src="../../pages%20Dinamo/managment%20деплой/img/footer/instagramm.svg" alt="">
                            </a>
                            <a href="#" class="social-block__link">
                                <img src="../../pages%20Dinamo/managment%20деплой/img/footer/facebook.svg" alt="">
                            </a>
                            <a href="#" class="social-block__link">
                                <img src="../../pages%20Dinamo/managment%20деплой/img/footer/vk.svg" alt="">
                            </a>
                            <a href="#" class="social-block__link">
                                <img src="../../pages%20Dinamo/managment%20деплой/img/footer/youtube.svg" alt="">
                            </a>
                            <a href="#" class="social-block__link">
                                <img src="../../pages%20Dinamo/managment%20деплой/img/icons/logos_telegram%20(1).svg" alt="">
                            </a>
                        </div>
                    </div>
                    <form action="#" class="footer__form">
                        <p class="footer__form-title footer__text">
                            Подписывайтесь на email-рассылку
                        </p>
                        <div class="footer__form-block">
                            <input type="email" class="form-block__input" placeholder="sportsmen228@gmail.com" >
                            <button class="form-block__button footer__text">
                                Подписаться
                            </button>
                        </div>
                    </form>
                </div>
                <p class="footer__subtitle">
                    2022 © Все права защищены
                </p>
            </div>
        </footer>
    </div>
    <script src="../../pages%20Dinamo/managment%20деплой/js/header.js"></script>
    <script src="../../pages%20Dinamo/managment%20деплой/js/validate.js"></script>
</body>
</html>